*{
  font-family: 'Poppins', sans-serif;
  cursor: default;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #0e0e0e;
  margin: 0;
  color: white;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 215, 0, 0.2);
  margin-top: 50px;
}